@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');

.main-page {
  padding-inline: 8%;
}

.main-page .inner-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-page .title {
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 5%;
}

.main-page .inner-div .pokemon {
  width: 200px;
  height: 80px;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #2636D9 0%, #B600D1 100.01%);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination button {
  border: 2px solid #2636D9;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  color: black !important;
  font-family: 'Jost', sans-serif;
  border-radius: 10px;
  font-size: 20px;

}